.aside-card-user {
  @apply flex 
  items-center 
  
  lg:w-4/12 
  lg:h-[400px]

  xl:w-3/12 
  xl:h-[500px];
}

.header-card-user {
  @apply bg-background 
  w-full 
  h-36 
  
  relative
  
  rounded-ss-lg 
  rounded-se-lg;
}

.button-edit {
  @apply p-1 
  cursor-pointer 
  
  rounded 
  absolute
  right-2
  top-2
  
  bg-element  
  hover:text-details-hover;
}

.footer-card-user {
  @apply border-divider 
  border-t 
  border-solid

  leading-5
  
  p-6
  w-5/6
  text-center;
}

.image-card-user {
  @apply xl:w-40 
  xl:h-40 

  lg:w-32
  lg:h-32

  flex
  justify-center
  items-center
  
  border 
  border-divider 
  xl:rounded-[54px]
  lg:rounded-[44px]
  
  bg-element;
}

.name-card-user {
  @apply text-lg
  uppercase
  font-extrabold
  text-title
  tracking-widest;
}

.main-card-user {
  @apply w-full 
  flex 
  flex-col 
  justify-center
  items-center
  
  gap-6
  
  absolute
  -top-1/3;
}
